@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  grid-column: 1/span 3;
  background-color: transparent;
  padding: 5px;
}
.header__content {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.header__arrows {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: #a7a7a7;
  font-size: 30px;
}
.header__arrowPrev, .header__arrowNext {
  cursor: pointer;
}
.header__home {
  cursor: pointer;
  background: #242424;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.header__home img {
  user-select: none;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.header__form {
  position: relative;
  display: flex;
  align-items: center;
  background: #242424;
  border-radius: 12px;
  height: 50px;
  width: 485px;
}
.header__form input {
  background: inherit;
  padding-left: 42px;
  border: none;
  font-size: 20px;
  height: inherit;
  flex-grow: 1;
  border-radius: 12px;
  color: #fff;
}

.form__searchIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.current-track {
  grid-row: 2/span 2;
  background: #121212;
  padding: clamp(0.5rem, 0.298rem + 0.538vw, 0.938rem);
  color: #fff;
  height: calc(100vh - 65px);
  border-radius: 8px;
  overflow: auto;
}
.current-track__header {
  margin-bottom: 20px;
}
.current-track__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.current-track__top > span {
  font-size: 20px;
}
.current-track__top > div {
  cursor: pointer;
}
.current-track__img {
  margin-top: 12px;
  border-radius: 10px;
}
.current-track__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 15px;
}
.current-track__left {
  font-size: 20px;
  flex-grow: 1;
}
.current-track__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.current-track__center {
  background: #242424;
  padding: 16px;
  border-radius: 8px;
}
.current-track__center span {
  font-size: 18px;
}
.current-track__author-logo {
  margin-top: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.current-track__author-nickname {
  margin-top: 15px;
  font-weight: 600;
}
.current-track__author-listened {
  display: block;
  margin-top: 20px;
}
.current-track__author-desc {
  margin-top: 15px;
}
.current-track__footer {
  background-color: #242424;
  padding: 15px;
  border-radius: 12px;
  margin-top: 10px;
}
.current-track__top {
  margin-bottom: 15px;
}
.current-track__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.sidebar {
  grid-column: 1/span 1;
  grid-row: 2/span 2;
  background: #121212;
  border-radius: 10px;
  padding: clamp(0.375rem, 0.029rem + 0.923vw, 1.125rem) clamp(0.375rem, 0.202rem + 0.462vw, 0.75rem);
  height: calc(100vh - 65px);
}
.sidebar__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.sidebar__header p {
  color: #a7a7a7;
  font-size: 18px;
}
.sidebar__open {
  color: #828282;
  font-size: 30px;
}
.sidebar__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-count: 2;
}
.sidebar__buttons {
  display: inline-flex;
  column-gap: 20px;
}
.sidebar--full .sidebar__open {
  transform: rotate(-180deg);
}
.sidebar--full .sidebar__content {
  grid-template-columns: repeat(4, 120px);
  column-count: 4;
}
.sidebar--small-1 {
  width: 70px;
}
.sidebar--small-1 .sidebar__content {
  margin-top: 10px;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
.sidebar--small-1 .sidebar__buttons {
  display: none;
}
.sidebar--small-1 .album {
  padding: 0;
}
.sidebar--small-1 .album__title,
.sidebar--small-1 .album__authors {
  display: none;
}
.sidebar--small-1 .album--size-small {
  width: 50px;
  height: 50px;
}

.center {
  grid-column: 2/3;
  grid-row: 2/3;
  background: linear-gradient(237deg, #5b554a, #121212);
  border-radius: 8px;
  padding: 20px 8px;
  color: #fff;
  height: calc(100vh - 65px);
  overflow: auto;
}

.albums-container__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.albums-container__button {
  color: #b3b3b3;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.albums-container__button:hover {
  text-decoration: underline;
}

.playlist__header {
  padding: 32px 20px 10px;
}
@media (max-width: 835px) {
  .playlist__header {
    padding: 8px 4px 5px;
  }
}
.playlist__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: clamp(0.375rem, -0.029rem + 1.077vw, 1.25rem);
}
.playlist__img {
  border-radius: 5px;
  height: 185px;
}
@media (max-width: 850px) {
  .playlist__img {
    height: 125px;
  }
}
.playlist__info {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.playlist__table-head {
  position: sticky;
  top: 0;
  color: #a7a7a7;
  padding: 5px;
  display: grid;
  grid-template-columns: 35px 1fr 1fr 50px;
  grid-template-rows: 32px;
  align-items: center;
  border-bottom: 1px solid #474340;
  background-color: #1a1a1a;
}
.playlist__name {
  font-size: clamp(2.25rem, 0.923rem + 3.538vw, 5.125rem);
  font-weight: 900;
}
.playlist__desc {
  margin-top: 8px;
}
.playlist__footer {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.row__header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.row__title {
  cursor: pointer;
  font-size: 30px;
}
.row__title:hover {
  text-decoration: underline;
}
.row__show {
  font-size: 17px;
  color: #b3b3b3;
}
.row__container {
  --column-count: 6;
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  grid-template-rows: auto;
}
@media (max-width: 1743px) {
  .row__container {
    --column-count: 5;
  }
}
@media (max-width: 1595px) {
  .row__container {
    --column-count: 4;
  }
}
@media (max-width: 1421px) {
  .row__container {
    --column-count: 3;
  }
}
@media (max-width: 897px) {
  .row__container {
    --column-count: 2;
  }
}
.row__item {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 8px;
  padding: clamp(0.25rem, 0.135rem + 0.308vw, 0.5rem);
  transition: background 0.4s ease;
  font-size: 18px;
}
@media (max-width: 675px) {
  .row__item {
    width: 100%;
  }
}
.row__item:hover {
  background: #212121;
}
.row__item:hover > .hover_btn {
  opacity: 1;
  top: 40%;
}
.row__item--big > img {
  height: 110px;
}
.row__img {
  border-radius: 8px;
  height: 170px;
  object-fit: cover;
}
.row__name {
  margin: 10px 0;
  color: #f4f4f4;
  font-size: 18px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.row__authors {
  color: #b3b0ae;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-size--small {
  width: 110px;
}
@media (max-width: 1360px) {
  .row-size--small {
    width: 100px;
  }
}
@media (max-width: 1037px) {
  .row-size--small {
    width: 90px;
  }
}
.row-size--small > img {
  height: 110px;
}

.row__container-sidebar {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
}
@media (max-width: 800px) {
  .row__container-sidebar {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .row__container-sidebar .row-size--small {
    width: 110px;
  }
}

.row__item-artists > img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.row__container-fullpage {
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.popover {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.popover__button {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  border: none;
  background: transparent;
}
.popover__list {
  position: absolute;
  top: 100%;
  z-index: 200;
  min-width: 100px;
  width: max-content;
  background: #282828;
  padding: 5px;
  border-radius: 5px;
}
.popover__item {
  width: 100%;
  background: transparent;
  padding: 15px 10px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  border-style: none;
  border-radius: 2px;
}
.popover__item:hover {
  background: #3a3a3a;
}
.popover__item--selected {
  color: #1cd769;
}

.hover_btn {
  transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
  opacity: 0;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  right: 10px;
  background: #1cd769;
  border-radius: 50%;
}
.hover_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 0 10px 17px;
  border-color: transparent transparent transparent #000;
}

.music-item {
  cursor: pointer;
  color: #a7a7a7;
  padding: 5px;
  display: grid;
  grid-template-columns: 35px 1fr 1fr 50px;
  grid-template-rows: 52px;
  align-items: center;
  transition: background-color 0.3s ease-in;
}
@media (max-width: 775px) {
  .music-item {
    grid-template-columns: 35px 1fr 0px 50px;
  }
  .music-item .music-item__name {
    display: none;
  }
}
.music-item:hover {
  background-color: #212121;
}
.music-item:hover .music-item__index {
  font-size: 0;
}
.music-item:hover .music-item__index::before {
  display: block;
}
.music-item__index {
  text-align: center;
  margin-right: 8px;
  position: relative;
}
.music-item__index::before {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #ffffff;
}
.music-item__main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}
.music-item__img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}
.music-item__title {
  color: #fff;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.music-item--without-index {
  grid-template-columns: 1fr 1fr 50px;
}

.artist__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}
.artist__img {
  height: 185px;
  width: 185px;
  border-radius: 50%;
}
@media (max-width: 850px) {
  .artist__img {
    height: 125px;
    width: 125px;
  }
}
.artist__info {
  flex-grow: 1;
}
.artist__confirm {
  font-size: 18px;
}
.artist__name {
  margin-top: 15px;
  font-size: clamp(3.125rem, 2.548rem + 1.538vw, 4.375rem);
  font-weight: 800;
  letter-spacing: 3px;
}
.artist__show-more-btn {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}
.artist__show-more-btn:hover {
  color: white;
}

.home__listsplit {
  display: grid;
  grid-template-columns: 328px 328px;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  margin-bottom: 20px;
}
.home__listsplit-item {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  background-color: #4f4c45;
  border-radius: 6px;
  width: 100%;
  flex-grow: 1;
}
.home__listsplit-item img {
  height: 50px;
}
.home__listsplit-item span {
  color: #fff;
}
.home__header {
  position: sticky;
  top: 20px;
  z-index: 5;
  background-color: #af9e6d;
  margin-bottom: 30px;
}
.home__list {
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 8px;
}
.home__link {
  background-color: #605b52;
  width: min-content;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  padding: 8px;
}
.home__link--active {
  background-color: #fff;
  color: #000;
  width: min-content;
  border-radius: 12px;
  text-decoration: none;
  color: #000;
  padding: 8px;
}

.search__top {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 20px;
}
@media (max-width: 965px) {
  .search__top {
    flex-direction: column;
    row-gap: 10px;
  }
  .search__top .search__left {
    width: clamp(17.188rem, 13.582rem + 9.615vw, 25rem);
  }
}
.search__left p {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.search__right {
  flex-grow: 1;
}
.search__artist {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background: #181818;
  padding: 20px 14px;
  border-radius: 8px;
  width: 100%;
}
.search__artist > .hover_btn {
  top: 70%;
}
.search__artist:hover .hover_btn {
  opacity: 1;
  top: 70%;
}
.search__artist span {
  color: #a7a7a7;
}
.search__img {
  object-fit: cover;
  width: 95px;
  height: 95px;
  border-radius: 50%;
}
.search__name {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
  text-decoration: none;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.main__wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 285px 1fr 280px;
  grid-template-rows: 65px 1fr 90px;
  background: #000;
  grid-column-gap: 5px;
  padding: 0 8px;
}
.main__wrapper .sidebar--full {
  grid-column: span 2; /* Занимает две колонки вместо одной */
  width: 500px;
}

.sidebar--medium {
  grid-template-columns: clamp(11.25rem, 8.942rem + 6.154vw, 16.25rem) 1fr clamp(11.25rem, 8.365rem + 7.692vw, 17.5rem);
}

.sidebar--medium-laptop {
  grid-template-columns: clamp(11.25rem, 8.942rem + 6.154vw, 16.25rem) 1fr 0px;
}

.sidebar--full {
  grid-template-columns: clamp(18.75rem, 12.981rem + 15.385vw, 31.25rem) 1fr clamp(11.25rem, 8.365rem + 7.692vw, 17.5rem);
}
.sidebar--full .row__container-sidebar {
  grid-template-columns: repeat(4, 1fr);
}

.sidebar--small {
  grid-template-columns: 72px 1fr clamp(11.25rem, 8.365rem + 7.692vw, 17.5rem);
}
.sidebar--small .sidebar {
  padding: 3px 3px;
}
.sidebar--small .sidebar .row__container-sidebar {
  grid-template-columns: 1fr;
}
.sidebar--small .sidebar .row__container-sidebar .row__item {
  padding: 5px;
}
.sidebar--small .sidebar .row__container-sidebar .row__item .row__name {
  display: none;
}
.sidebar--small .sidebar .row__container-sidebar .row__item .row__authors {
  display: none;
}
.sidebar--small .sidebar .row__container-sidebar .row__item .hover_btn {
  display: none;
}
.sidebar--small .sidebar .row__container-sidebar .row-size--small {
  width: 60px;
}
.sidebar--small .sidebar .row__container-sidebar .row-size--small > img {
  height: 48px;
}

.button-subscribe {
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 10px;
  font-weight: 800;
  background: transparent;
  color: #fff;
}

::-webkit-scrollbar {
  width: 15px; /* ширина всей полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: transparent; /* цвет зоны отслеживания */
}

::-webkit-scrollbar-thumb {
  background-color: #595959; /* цвет бегунка */
}/*# sourceMappingURL=index.css.map */