$bg-color-black: #000;
$bg-color-left-sidebar: #121212;
$bg-color-search: #242424;
$bg-linear-gradient-main: linear-gradient(237deg, #5b554a, #121212);
$bg-color-album: #252524;
$bg-color-tab: #3b3935;

$color-text: #fafafa;

$header-arrow-color: #a7a7a7;
